{% extends 'foodnet/layout.html' %} 

{% load static %}

{% block title %} Login {% endblock title %} 

{% block content %}
<body class="text-center">

  </div>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show">
                <strong>{{ message.tags | capfirst }}!</strong> {{message}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    {% endif %}
  <div>

  <div class="container mt-4">
    <form method="POST" action="{% url 'foodNet:login' %}" class="form-signin" style="color: white">
      <!-- againt a cross site Request Forgery (CSRF) -->
      {% csrf_token %}

      <img style="width: 680px; height: 200px;" src="{% static 'foodnet/assets/foodnet.png' %}" >
      <h1 class="h3 mb-3 font-weight-normal">Please Login</h1>
      
      <br />
            {% for field in form %}
                <div class="form-group">

                    {{ field.label_tag}}
                    <br>
                    {{ field }}

                </div>
            {% endfor %}
      <br />

      <div class="checkbox mb-3">
        <h6>Do not have an account?</h6>
        <a
          class="btn btn-sm btn-secondary"
          href="{% url 'foodNet:register' %}"
          >Register</a
        >
      </div>

      <input type="submit" class='btn btn-lg btn-block btn-primary' value="Log In">
    </form>
  </div>
</body>
{% endblock content %}
