{% extends 'foodnet/layout.html' %} 
{% load static %}
{% load my_filter %}

{% block title %} {{ product.name.title }} {% endblock title %} 

{% block content %}

    <div class="container mt-2 mb-4">
      
      <div class="container">
        <a class="btn btn-outline-info mb-4" href="{% url 'foodNet:profile' user.username user.id %}">Back to Profile</a>
        <div class="d-flex align-items-center justify-content-center bg-dark" style="height: 400px;">
          <img src="{{ product.img.url }}" class="rounded-circle" style="width: 400px; height: 400px; object-fit: cover;" />
        </div>
      </div>

      <div class="d-flex align-items-center justify-content-center">
        <h1>{{ product.name.title }}</h1>
      </div>
      <div class="d-flex align-items-center justify-content-center">
        <h2>{{ product.price|naira }}</h2>
      </div>
      
      <hr>
      
      <div class="d-flex flex-column p-2">
        <h3>Description:</h3>
        <p style="font-size: 20px;">{{ product.description }}</p>
      </div>
      
      <hr>
      
      <div class="d-flex flex-column p-2">
        <h3>Details:</h3>

        <ul style="font-size: 18px;">
          <li>Category: {{ product.category }} </li>
          <li>Vendor: {{ product.vendor.username }}</li>
          <li>Telephone: {{ product.vendor.phone_number }}</li>
          <li>Email: {{ product.vendor.email }}</li>
        </ul>
      </div>
      
      <hr>
      
        <button data-product="{{ product.id }}" data-action="add" class="btn btn-outline-info ">Edit</button>
    </div>
    

{% endblock content %}

